* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "IBMPlexSans";
    font-size: 16px;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}
