.p-paginator {
    margin-top: 40px;

    .p-paginator-pages {
        margin: 0 30px;
        @media (max-width: 992px) {
            margin: 0 5px;
        }
    }

    .p-paginator-page {
        border: 1px solid #d2dce0;
        margin-inline-start: 6px;
        border-radius: 4px;

        &:hover {
            background-color: var(--actions);
            color: #fff;
            border: 0;
        }

        &.p-highlight {
            background-color: var(--actions);
            color: #fff;
            border: 0;
        }
    }

    .p-link {
        border: 1px solid #d2dce0;
        margin-inline-start: 6px;
        border-radius: 4px;
    }
}
