@import url("../../../assets/styles/base/_mixins.scss");

.table {
    tr {
        th {
            text-align: start;
            font-weight: 500;
            padding: 16px;
            border-bottom: 2px solid #d8d8d8;
            color: #70819d;
            background-color: transparent;
        }
        td {
            text-align: start;
            font-weight: 400;
            padding: 16px;
            border-bottom: 1px solid #d8d8d8;
            color: #495770;
        }
    }
    &__action-btn {
        background: #fff;
        border: 0;
        color: #52bdcc;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 16px;
    }
}
