.g-btn {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    &--main {
        background-color: var(--actions);
        color: #fff;
    }

    &--secondary {
        background-color: #fff;
        color: var(--actions);
        border: 1px solid var(--actions);
        border-radius: 4px;
    }

    &__text {
        margin-right: 8px;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }
    @media (max-width: 992px) {
        padding: 12px 14px;
        font-size: 14px;
    }
}
