// @import url("../../../assets/styles/base/_mixins.scss");

.table-container {
    tr {
        th {
            text-align: start;
            font-weight: 500;
            padding: 16px;
            border-bottom: 2px solid #d8d8d8;
            color: #70819d;
            background-color: #fff;
        }
        td {
            text-align: start;
            padding: 16px;
            border-bottom: 1px solid #d8d8d8;
            color: #495770;
            background-color: #fff;
        }
    }
    &__action-btn {
        background: #fff;
        border: 0;
        color: #52bdcc;
        font-weight: 500;
        cursor: pointer;
        text-decoration: unset;
        display: flex;
        align-items: center;
        span {
            margin-inline-end: 12px;
            @media (max-width: 992px) {
                margin: 0 5px;
            }
        }
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 16px;
    }
}
